@media (max-width:1257px) {
    /* .div-img img {
        background-image: url('assets/bg-1.png');
        background-repeat: no-repeat;
        background-size: contain;
    } */
}

@media (max-width:860px) {
    .main-principal {
        background-image:none;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }

    .div-img img {
        max-width: 500px;
        max-height: 500px;
    }

    .parabens {
        width: 60%;
    }

    .div-textos {
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }

    .button {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
    }
}

@media (max-width:387px) {
    .div-img img {
        max-width: 400px;
        max-height: 400px;
    }

    .button {
        border-radius: 6px;
    }

    .button p {
        font-size: 15px;
    }
}

@media (max-width:450px) {
    .parabens {
        width: 90%;
    }

    .button p {
        font-size: 15px;
    }
}